.notify {
    .error_texts {
        margin-bottom: 5px
    }
    .error_texts:last-child {
        margin-bottom: 0px
    }
    .alert {
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.1);
        font-size: 12px;
        font-weight: 400;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
    }
    .error {
        background: #f5dbd9;
        border: 1px solid #eacbc9;
        color: #921010;
        .iicon {
            font-size: 2rem;
            color: #921010;
            margin-right: 15px;
        }
    }
    .default {
        background: #ffffff;
        border: 1px solid #ffffff;
        color: #282a3c;
        .iicon {
            font-size: 2rem;
            color: #a8aab9;
            margin-right: 15px;
        }
    }
    .warning {
        background: #fff9db;
        border: 1px solid #fff9db;
        color: #495057;
        .iicon {
            font-size: 2rem;
            color: #fbb610;
            margin-right: 15px;
        }
    }

    .ok {
        background: #c8f793;
        border: 1px solid #c8f793;
        color: #495057;
        .iicon {
            font-size: 2rem;
            color: #5a802f;
            margin-right: 15px;
        }
    }

    
}


