.package-block {
    margin-top: 5px;
    .list_empty_package {
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
    }
    .pckg_bl {
        background-color: #fff;
        padding: 20px 20px;
        border-radius: 5px;
        margin-bottom: 10px;
        .item_block_header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            margin-bottom: 10px;
            .fl_number {
                font-weight: 700;
                color: #282c33;
                font-size: 15px;
            }
            .est_date {
                text-align: right;
                color: #98ae1f;
                font-family: 'BPG Arial';
            }
        }
        .package_block_item {
            display: flex;
            align-items: center;
            padding: 10px 0px;
            border-bottom: 1px solid #ecf0f1;
            .image img {
                width: 35px;
                margin-right: 8px;
            }
            .title_block {
                flex: 1;
                .tracking_title {
                    font-weight: 700;
                    color: #282c33;
                    font-size: 16px;
                    font-family: 'BPG Arial';
                }
                .block_declaration {
                    margin-top: 0px;
                    font-size: 13px;
                    font-family: 'BPG Arial';
                    display: flex;
                    .payale_gel {
                        margin-left: 10px;
                    }
                }
            }
        }
        .package_block_item:last-child {
            border-bottom: 0px solid #ecf0f1;
            padding: 10px 0px 0px 0px;
        }
        .Collapse_block {
            margin-top: 10px;
            .mb_block {
                display: flex;
                input {
                    height: 51px;
                    padding: 0px 10px;
                    border-radius: 4px;
                    border: 1px solid #dadada;
                }
                input::placeholder {
                    color: #656565;
                  }
                .bbn {
                    flex: 1
                }
                .nnm {
                    margin-right: 10px;
                }
                .nnm:last-child {
                    margin-right: 0px;
                }

            }
            .sub_items_block_m {
                margin-top: 10px;

            }
        }
    }
}

