.declaration_panel {
    @media screen and (max-width: 1024px) {
        padding: 0;
    }
    padding: 95px 50px 30px 50px;
    .titile_block {
        display: flex;
        background-color: #fff;
        padding: 15px;
        border-radius: 5px 5px 0px 0px;
        .title {
            flex: 1;
            font-size: 22px;
            font-family: 'HelveticaNeueLTGEO-75Bold';
            text-transform: uppercase;
            font-feature-settings: 'case' on;
            .tracking_title {
                font-size: 15px;
                font-family: 'BPG Arial';
            }
        }
        .tracking_remove_button {
            padding: 9px 25px 10px 25px;
            background-color: #ff5433;
            border-radius: 3px;
            text-align: center;
            color: #fff;
            font-size: 13px;
            cursor: pointer;
            font-family: 'BPG Arial';
            display: inline-block;
            transition: 0.3s;
            margin-left: 10px;
        }
        .tracking_remove_button:hover {
            background-color: #dc472b;
        }
    }
    .declaration_panel_body {
        background-color: #fff;
        padding: 15px;
        border-radius: 0px 0px 5px 5px;
        border-top: 1px solid #eae9e9;
        .info_area {
            background-color: #fff;
            padding-bottom: 15px;
            .content {
                .tracking_add_item_button {
                    padding: 9px 25px 10px 25px;
                    background-color: #98ae1f;
                    border-radius: 3px;
                    text-align: center;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;
                    font-family: 'BPG Arial';
                    transition: 0.3s;
                }
                .tracking_add_item_button:hover {
                    background-color: #7f9218;
                }
            }
            .sub_list_block_container {
                margin-top: 0px;
                .sum_price {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin-bottom: 5px;
                    .letf_price {
                        font-family: 'BPG Arial';
                        color: #444;
                    }
                }
                .empty_list {
                    background-color: #fff5f3;
                    padding: 5px 10px;
                    border-radius: 5px;
                    text-align: center;
                    font-family: 'BPG Arial';
                    margin: 10px 0px;
                }
                .sub_list_block {
                    background-color: #f3f2f2;
                    border-radius: 5px;
                    padding: 10px 15px;
                    margin-bottom: 5px;
                    .sub_list_left_container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        align-content: center;
                        .sub_flex {
                            display: flex;
                            align-items: center;
                            .item_img {
                                @media screen and (max-width: 1024px) {
                                    display: none;
                                }
                                margin-right: 20px;
                                img {
                                    width: 30px;
                                }
                            }
                            .item {
                                @media screen and (max-width: 1024px) {
                                    margin-right: 15px;
                                }
                                margin-right: 35px;
                                .sub_t {
                                    font-family: 'HelveticaNeueLTGEO-75Bold';
                                    text-transform: uppercase;
                                    font-feature-settings: 'case' on;
                                    color: #444;
                                    font-size: 14px;
                                }
                                .sub_m {
                                    font-family: 'BPG Arial';
                                    color: #5f5d5d;
                                    font-size: 13px;
                                }
                            }
                        }
                        .sub_flex_block {
                            .item_img {
                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .detail_info_block {
                margin-top: 20px;
                .detail_info_title {
                    font-family: 'HelveticaNeueLTGEO-75Bold';
                    text-transform: uppercase;
                    font-feature-settings: 'case' on;
                    color: #444;
                    font-size: 15px;
                    margin-bottom: 15px;
                }
            }
        }
    }




}